.jobs-container {
    display: grid;
    grid-template-columns: 38.5rem 38.5rem 35rem;
    grid-template-rows: 8rem 25rem 25rem;
    height: 120rem;
    justify-content: center;
    align-content: center;
    background-color: #eee;
    background-image: url("../img/light-aluminum.png");
    justify-items: center;
    row-gap:4rem;
    position:relative;
}


.job-card-desc {
    border-right: 5px solid #444;
    height: 25rem;
    width: 76.6rem;
    grid-column: 1 / span 2;
    justify-self: start;
    background-color: #444;
    background-image:  url("../img/dark-mosaic.png");
    box-shadow: -2px 10px 10px 0.7px rgb(0 0 0 / 50%);
    overflow: scroll;
    white-space: break-spaces;
    margin:0;
}
.job-card-img {
    display: flex;
    align-items: end;
    height: 25rem;
    width: 35rem;
    grid-column: 3;
    background-color: var(--color-base);
    background-image:  url("../img/dark-mosaic.png");
    box-shadow: -2px 10px 10px 0.7px rgb(0 0 0 / 50%);
    transform:rotate(-5deg);
}

.job-card-desc2 {
    border-left: 10px solid #444;
    height: 25rem;
    width: 77rem;
    grid-column: 2 / span 2;
    justify-self: end;
    background-color: #444;
    background-image:  url("../img/dark-mosaic.png");
    box-shadow: -2px 10px 10px 0.7px rgb(0 0 0 / 50%);
    overflow: scroll;
    white-space: break-spaces;
    margin:0;
}

.job-card-img2 {
    display: flex;
    align-items: end;
    height: 25rem;
    width: 34rem;
    grid-column: 1;
    justify-self: start;
    background-color: var(--color-base);
    background-image:  url("../img/dark-mosaic.png");
    box-shadow: -2px 10px 10px 0.7px rgb(0 0 0 / 50%);
    transform:rotate(5deg);
}

.img-badge {
    width:100%;
    transform: translateY(10px);
}

.desc-paragraph {
    color: #eee;
    font-size: 1.8rem;
    padding: 1rem 3rem 1rem 3rem;
    letter-spacing: 1.2px;
    line-height: 1.5;
    height: 15rem;
    margin:0;
}

.blur-paragraph {
    mix-blend-mode: overlay;
}

.jobs-container:after {
    content: '';
    position: absolute;
    top: 20rem;
    right: 45rem;
    width: 55rem;
    height: 0.2rem;
    background-color: #555;
    background-image:  url("../img/dark-mosaic.png");
    opacity: 0.4;
   
}
