@media(min-width: 110em) {
    html {
        font-size: 62.5%;
    }
    .skill-range-cont{
        width: 40rem;
    }
}

@media(max-width: 90em) {
    html {
        font-size: 50%;
    }
    .jobs-container:after {
        content: '';
        position: absolute;
        top: 20rem;
        right: 15rem;
        width: 55rem;
        height: 0.2rem;
        background-color: #555;
        background-image:  url("../img/dark-mosaic.png");
        opacity: 0.4;  
    }
    .skill-range-cont{
        width: 30rem;
    }
} 
@media(max-width: 80em) {
    html {
        font-size: 45%;
    }
    .bars-container{
        height: 180rem;
        transform: translate(40rem, -40rem) rotate(135deg);
    }
    .skill-range-cont{
        width: 30rem;
    }
    .skill-container {
        padding:0;
    }

    .portfolio-container{
        padding: 0;
        grid-template-columns: 38rem 38rem 38rem;
    }
    .snapshot{
        padding:1rem;
    }

}   