@media(min-width: 110em) {
    html {
        font-size: 62.5%;
    }
    .skill-range-cont{
        width: 40rem;
    }
}

@media(max-width: 90em) {
    html {
        font-size: 50%;
    }
    #bar-left {
        opacity:0;
    }
    .jobs-container:after {
        content: '';
        position: absolute;
        top: 20rem;
        right: 15rem;
        width: 55rem;
        height: 0.2rem;
        background-color: #555;
        background-image:  url("../img/dark-mosaic.png");
        opacity: 0.4;  
    }
    .skill-range-cont{
        width: 30rem;
    }
   
} 
@media(max-width: 70em) {
    html {
        font-size: 44%;
    }
}
@media(max-width: 60em) {
    html {
        font-size: 42%;
    }

    #bar-left{
        display:none;
        
    }
    .hero-row1{
        height: 50vh;
    }
    .card-container{
        margin: 20rem -20rem 0rem 5rem;
    }
   
    .skill-range-cont{
        width: 30rem;
    }
    .skill-container {
        padding:0;
    }

    .portfolio-container{
        padding: 0;
        grid-template-columns: 38rem 38rem 38rem;
    }
    .snapshot{
        padding:1rem;
    }

}   