.skill-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8rem 38rem 38rem;
    height: 90rem;
    background-image:  url("../img/dark-mosaic.png"), radial-gradient(var(--color-base),var(--color-base),var(--color-mittel),var(--color-dark));;
    padding:5rem;
    box-shadow: -1px 20px 10px 0.7px rgb(0 0 0 / 50%);
}

.ligthColor {
    grid-column: 1 /span 2;
    background: linear-gradient( var(--color-base),#eee, var(--color-base));
    -webkit-background-clip: text;
    color: transparent;
    justify-self: center;
    align-self: center;
}
.front-end-container{
    display:flex;
    background-color: #333;
    background-image: url('/img/dark-mosaic.png');
}

.skill-category {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 2rem;
    font-variant: small-caps;
    padding: 9rem 1rem 5rem 1rem;
    width: 3rem;
    color: #ccc;
    background-color: #222;
    background-image: url('/img/dark-mosaic.png');
}
.skill-name {
    font-size: 2rem;
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    color: #ccc;
 
}

.skill-row{
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-name-txt {
    min-width: 15rem;
}


.others-container{
    display: flex;
    grid-row: 2 /span 2;
    grid-column: 2;
    background-color: #333;
    background-image: url('/img/dark-mosaic.png');
}

.back-end-container{
    display: flex;
    background-color: #333;
    background-image: url('/img/dark-mosaic.png');
}

.skill-range-cont{
    height: 15px;
    width: 28rem;
    background-color: #aaa;
}
.skill-range {
    width: 50%;
    height:15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--color-base);
   

}

.more-spacing {
    padding-top:20rem;
    letter-spacing: 2rem;
}

#HTML {
    width:90%;
}
#JavaScript {
    width:90%;
}
#React {
    width:80%;
}
#Angular{
    width:60%;
}
#Java {
    width:90%;
}
#Hibernate {
    width:85%;
}
#Spring {
    width:75%;
}
#NodeJs {
    width:90%;
}
#Oracle {
    width:75%
}
#Mongo {
    width:40%;
}
#Maven {
    width:65%;
}
#Git {
    width:80%;
}
#TeamCity {
    width:50%;
}
#SonarQ {
    width:50%;
}
#MyEclipse {
    width: 80%;
}
#IntelliJ {
    width: 80%;
}
#Agile {
    width: 70%;
}

