html {
    box-sizing: border-box;
    font-size: 50%;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    /* color variables , use random blue to init*/
    --color-base:hsl(210, 62%, 35%);
    --color-mittel: hsl(210, 82%, 20%);
    --color-dark: hsl(210, 83%, 14%);

    --green-base: hsl(108, 62%, 35%);
    --blue-base: hsl(210, 62%, 35%);
    --green-mittel: hsl(105, 82%, 20%);
    --green-dark: hsl(105, 83%, 14%);
    --blue-mittel: hsl(210, 82%, 20%);
    --blue-dark: hsl(210, 83%, 14%);
    --red-base: hsl(1, 62%, 35%);
    --red-mittel: hsl(1, 82%, 20%);
    --red-dark: hsl(1, 83%, 14%);
    --pink-base: hsl(320, 62%, 35%);
    --pink-mittel: hsl(320, 82%, 20%);
    --pink-dark: hsl(320, 83%, 14%);
    --violet-base: hsl(25, 62%, 35%);
    --violet-mittel: hsl(25, 82%, 20%);
    --violet-dark: hsl(25, 83%, 14%);
    --green-light: #9cc891;
    width: 100vw;
}

.hero-container {
background-image: url("../img/black-orchid.png"), 
radial-gradient(var(--color-base),var(--color-base),var(--color-mittel),var(--color-dark));
box-shadow: -1px 20px 10px 0.7px rgb(0 0 0 / 50%);
}
.hero-row1 {
    display:flex;
    justify-content: space-between;
    width:100%;
    height: 70vh;
    overflow:hidden;
    margin-top:-5rem;
}
.card-container{
    border-top: 5px solid #999;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 5px solid #888;
    min-width: 40rem;
    height: 30rem;
    margin: 10rem 8rem 0rem 10rem;
    clip-path: polygon(0 0, 52% 0, 100% 9%, 100% 91%, 51% 100%, 0 100%);
}
.hero-row2{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
   
}
.hero-button1{
    border-radius:50%;
    margin-bottom:3rem;
    width:12rem;
    height: 12rem;
    position:absolute;
    left: 25rem;
    background-image: url("../img/light-aluminum.png"), 
    linear-gradient(to left,#333,#eee,#777,#eee, #666);

}
.hero-button-inside::before {
    content: 'Download CV \2193';
    font-size: 1.8rem;
    color: #ddd;
    padding: 3.5rem 2rem 0rem 2rem;
    display:block;
}

.hero-button-inside {
    border-radius: 50%;
    width: 11rem;
    height: 11rem;
    background-color: #555;
    background-image:url("../img/black-orchid.png");
    transform: translate(-0.4rem); 
    cursor:pointer;
    transition:.5s
}
.hero-button-inside:hover {
    background-color: #333;
    transform: translate(-0.45rem) scale(0.9);
    transition:.5s
}

.hero-button2 {
    border-radius: 50%;
    margin-bottom:3rem;
    position:absolute;
    left: 40rem;
    width:12rem;
    height: 12rem;
    background-image: url("../img/light-aluminum.png"), 
    linear-gradient(to left,#333,#eee,#777,#eee, #666);
}
.hero-button2-inside {
    border-radius: 50%;
    width:11rem;
    height: 11rem;
    background-color: #555;
    background-image: url("../img/black-orchid.png");
    cursor:pointer;
    transform: translate(-0.45rem);
}
.hero-button2-inside::before {
    content: 'Contact Me';
    font-size: 1.8rem;
    color: #ddd;
    padding: 3.5rem 2rem 0rem 2rem;
    display:block;
}
.hero-button2-inside:hover {
    background-color: #333;
    transform: translate(-0.45rem) scale(0.9);
    transition:.5s
}

.my-name {
    font-size: 3.8rem;
    color:#ccc;
}
.middle-msg{
    font-size: 2.4rem;
    color:#ccc;
    font-variant: small-caps;
}
.hero-msg{
    font-size: 2.8rem;
    color:#5ad147;
    color:#ccc;
    letter-spacing: 2px;
    line-height: 1.3;
}
.right-container{
    display:flex;
}
.bars-container{
    display: flex;
    gap: 2rem;
    height: 160rem;
    transform: translate(35rem, -40rem) rotate(135deg);
}
.bars {
    width: 7rem;
    background-image: url("../img/light-aluminum.png"), 
    linear-gradient(to top,#333,#eee,#777,#eee, #666); 
    border-width: 5px;
    border-image-slice: 1 50%;
    border-style: solid;
    border-image: linear-gradient(to left,#eee,#333,#888,#aaa, #333);
    border-image-slice: 1 50%;
    
}

#bar-right{
    background-image: url("../img/light-aluminum.png"), 
    linear-gradient(to top,#333,#eee,#777,#eee, #666); 
}

.canvas-container {
    display:flex;
    background: #222;
    width:75rem;
    height:75rem;
    margin-left: -5rem;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}